* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vollkorn";
  src: url(../fonts/Vollkorn-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vollkorn";
  src: url(../fonts/Vollkorn-Italic.woff2) format(woff2);
  font-style: italic;
  font-display: swap;
}
:root {
  --container-width: 940px;
  --container-padding-x: 15px;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-dark-alt: #333333;
  --color-accent: #8BCAC3;
  --font-family-base: "Vollkorn", serif;
  --font-family-accent: "Montserrat", sans-serif;
  --transition-duration: 0.3s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-family-base);
  font-size: 15px;
  line-height: 1.46;
  color: var(--color-dark-alt);
}

a,
button {
  transition-duration: var(--transition-duration);
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.menu__link {
  position: relative;
  font-family: var(--font-family-accent);
  font-size: 12px;
  line-height: 1.7;
  color: var(--color-dark-alt);
  text-transform: uppercase;
  padding: 5px;
}
.menu__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform var(--transition-duration);
}
@media (hover: hover) {
  .menu__link:hover:after {
    transform: scaleX(1);
  }
}
@media (hover: none) {
  .menu__link:active:after {
    transform: scaleX(1);
  }
}

.burger-button {
  width: 40px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}
@media (max-width: 768px) {
  .burger-button {
    display: flex;
  }
}
.burger-button span {
  width: 100%;
  height: 2px;
  background-color: var(--color-dark-alt);
}

.button {
  display: inline-block;
  padding: 16px 30px;
  border: 1px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-dark-alt);
  background-color: transparent;
}

.header {
  padding-block: 18px;
}
@media (max-width: 768px) {
  .header {
    padding-block: 10px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__logo {
    width: 130px;
    height: auto;
  }
}

.first-screen {
  position: relative;
  padding-block: 100px;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1025px) {
  .first-screen {
    padding-block: 50px;
  }
}
.first-screen:after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
  width: 52px;
  height: 52px;
  background-image: url(../../images/decor-cross.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.first-screen__inner {
  max-width: 700px;
  width: 100%;
  text-align: center;
}
.first-screen__title {
  font-size: clamp(30px, 3.0555555556vw, 44px);
  position: relative;
  font-family: var(--font-family-accent);
  font-weight: 400;
  line-height: 1.25;
  color: var(--color-light);
  text-transform: uppercase;
  padding-bottom: 28px;
  margin-bottom: 25px;
}
@media (max-width: 1025px) {
  .first-screen__title {
    padding-bottom: 18px;
    margin-bottom: 15px;
  }
}
.first-screen__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 2px;
  background-color: var(--color-light);
}
.first-screen__text {
  color: var(--color-light);
}

.about {
  padding-block: 60px;
  background-color: #FEFEC9;
  text-align: center;
}
@media (max-width: 1200px) {
  .about {
    padding-block: 40px;
  }
}
.about__inner {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 1200px) {
  .about__inner {
    row-gap: 20px;
  }
}
.about__text {
  font-size: clamp(15px, 1.25vw, 18px);
  line-height: 1.4;
}

.reviews {
  padding-block: 70px 100px;
  background-color: #F5F5F5;
  text-align: center;
}
@media (max-width: 1025px) {
  .reviews {
    padding-block: 40px 60px;
  }
}
.reviews__inner {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}
@media (max-width: 1025px) {
  .reviews__inner {
    row-gap: 30px;
  }
}
.reviews__decor-wrapper {
  display: flex;
  justify-content: center;
}
.reviews__decor-wrapper svg {
  display: block;
}
.reviews__list {
  display: flex;
  padding-inline: 23px;
}
@media (max-width: 768px) {
  .reviews__list {
    flex-direction: column;
    row-gap: 25px;
    padding-inline: 0;
  }
}
.reviews__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  flex-basis: 50%;
  padding-inline: 20px;
}
@media (max-width: 768px) {
  .reviews__item {
    row-gap: 15px;
  }
}
.reviews__item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  width: 2px;
  background: rgba(0, 0, 0, 0.04);
}
@media (max-width: 768px) {
  .reviews__item:not(:last-child):after {
    display: none;
  }
}
.reviews__item-text {
  font-size: clamp(20px, 1.8055555556vw, 26px);
  line-height: 1.3;
  max-width: 340px;
}
@media (max-width: 1025px) {
  .reviews__item-text {
    max-width: 280px;
  }
}
.reviews__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.reviews__author-name {
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 1.4;
  color: #ABABAB;
  text-transform: uppercase;
}

.footer {
  padding-block: 70px 75px;
  background-color: var(--color-dark);
}
@media (max-width: 768px) {
  .footer {
    padding-block: 40px 45px;
  }
}
.footer__inner {
  max-width: 594px;
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}
@media (max-width: 768px) {
  .footer__inner {
    row-gap: 30px;
  }
}
.footer__form {
  text-align: center;
}
.footer__form-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.footer__input {
  padding: 18px 30px;
  background: rgba(255, 255, 255, 0.18);
  font-family: var(--font-family-base);
  font-style: italic;
  font-size: 17px;
  line-height: 1.3;
  color: var(--color-light);
}
@media (max-width: 768px) {
  .footer__input {
    padding: 15px 20px;
  }
}
.footer__input:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}
.footer__input::-moz-placeholder {
  color: var(--color-light);
}
.footer__input::placeholder {
  color: var(--color-light);
}
.footer__input--textarea {
  height: 127px;
  resize: none;
}
.footer__button {
  padding-inline: 60px;
  font-style: italic;
  color: var(--color-accent);
}
@media (max-width: 768px) {
  .footer__button {
    padding-inline: 50px;
  }
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
  text-align: center;
}
.footer__text {
  color: rgba(255, 255, 255, 0.4);
}/*# sourceMappingURL=style.css.map */