:root {
    --container-width: 940px;
    --container-padding-x: 15px;

    --header-height: 106px;
    
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-dark-alt: #333333;
    --color-gray: #F5F5F5;
    --color-accent: #8BCAC3;

    --font-family-base: "Vollkorn", serif;
    --font-family-accent: "Montserrat", sans-serif;

    --transition-duration: 0.3s;

    @media (max-width: 768px) {
        --header-height: 79px;
    }
}

$container-width: var(--container-width);
$container-padding-x: var(--container-padding-x);

$header-height: var(--header-height);

$color-light: var(--color-light);
$color-dark: var(--color-dark);
$color-dark-alt: var(--color-dark-alt);
$color-gray: var(--color-gray);
$color-accent: var(--color-accent);

$font-family-base: var(--font-family-base);
$font-family-accent: var(--font-family-accent);

$transition-duration: var(--transition-duration)