.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $color-light;
    height: $header-height;
    z-index: 1;
    display: flex;
    align-items: center;

    @include mobile {
        padding-block: 10px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
    }

    &__logo {

        @include mobile {
            width: 130px;
            height: auto;
        }
    }
}