.process {
    padding-block: 80px 65px;

    @include tablet {
        padding-block: 60px 45px;
    }

    @include mobile {
        padding-block: 40px 35px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 52px;

        @include tablet {
            row-gap: 30px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        
        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 30px;
        }
    }

    &__item {
        flex-basis: 300px;
        text-align: center;

        &-icon {

            &-wrapper {
                min-height: 220px;
                background-color: $color-gray;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 38px;

                @include tablet {
                    margin-bottom: 30px;
                }

                @include mobile {
                    min-height: 200px;
                }
            }
        }

        &-title {
            margin-bottom: 20px;

            @include tablet {
                margin-bottom: 15px;
            }
        }
    }
}