.title {
    @include fluid-text(20, 23);

    position: relative;
    font-family: $font-family-accent;
    font-weight: 400;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 28px;

    @include tablet {
        padding-bottom: 20px;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.09);
    }

    &--small {
        font-size: 16px;
        line-height: 1.25;
        padding-bottom: 0;

        &:after {
            display: none;
        }
    }
}